<div id='new-user-wrap'>
<div id='new-user-container'>
<h2 id = 'NewtoTE'>New to TeamEffort?</h2>
<p id='required'>A TeamEffort account is required to continue</p>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div id='fname'><%= f.label :first_name %><br />
  <%= f.text_field :first_name, id: 'fnamefld' %></div>

  <div id='lname'><%= f.label :last_name %><br />
  <%= f.text_field :last_name, id:'lnamefld'%></div>

  <div id = 'email'><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true, id: 'emailfld' %></div>

  <div id='pass'><%= f.label :password %><br />
  <%= f.password_field :password, id: 'passfld'%></div>

  <div id = 'passcheck'><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, id: 'passchkfld' %></div>

  <div><%= f.submit "Sign up", id:'signupbtn' %></div>
<% end %>

</div>
</div>