<div id='new-user-wrap'>
<div id='new-user-container2'>
<h2 id= 'NewtoTE'>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div id='email'><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true, id: 'emailfld'%></div>

  <div id='pass'><%= f.label :password %>
  <%= render "devise/shared/links"%>
  <%= f.password_field :password, id: 'passfld'%></div>

  <% if devise_mapping.rememberable? -%>
    <div id='remember'><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in", id:'signupbtn'%></div>
<% end %>

</div>
</div>